@import url('https://fonts.googleapis.com/css2?family=Sorts+Mill+Goudy:ital@0;1&display=swap');

@font-face {
  font-family: "Saira Numerals";
  src: url(assets/Saira-Numerals.ttf);
}

@media screen and (width <= 800px) {
  #countdown {
    display: flex;
    flex-direction: column;
    /* width: 70vw; */
    /* height: 300px; */
    align-items: center;
    justify-content: space-between;
    /* background-color: blue; */
  }
}

:root {
  --color-dark-1: #4f0911;
  --color-dark-2: #260607;
  --color-light-1: #faf1ec;
  --color-light-2: #e4cec1;
  --color-light-3: #916066;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.goudy-regular {
  font-family: "Sorts Mill Goudy", serif;
  font-weight: 400;
  font-style: normal;
}

.goudy-italic {
  font-family: "Sorts Mill Goudy", serif;
  font-weight: 400;
  font-style: italic;
}

/* reset all default */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  cursor: url('/src/assets/arrow.svg'), auto;
}

a:hover {
  cursor: url('/src/assets/arrow.svg'), auto;
}

section {
  display: flex;
  flex-direction: column;
  height: 100vh;
  will-change: width, height;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  font-family: "Sorts Mill Goudy";
}

.scroller {
  /* overflow-y: auto; */
  /* scroll-snap-type: y mandatory; */
  /* scroll-behavior: smooth; */
}

.scoller section {
  /* scroll-snap-align: start; */
}

.snapable {}

#hero {
  position: relative;
  /* background-color: var(--color-light-1); */
}

nav {
  position: absolute;
  top: 20%;
  width: max-content;
  height: fit-content;
  z-index: 2;
  /* background-color: aqua; */
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-weight: 600;

  a {
    padding: 1vw;
    text-decoration: none;

    color: var(--color-light-3);

    img {
      width: 70%;
    }
  }

  a:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 3px;
    text-decoration-style: dashed;

  }
}

#athul_saira_svg {
  position: absolute;
  width: 90vw;
  height: fit-content;
  fill: var(--color-dark-1);
}

.page-title {
  display: block;
  position: relative;
  top: 1px;
  font-size: 2em;
  padding: 2%;
  background-color: aqua;
}

#about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 7vw 0 7vw;
  background-color: var(--color-dark-2);
  color: var(--color-light-1);
  font-family: "Sorts Mill Goudy";
  font-size: clamp(32px, 2.5vw, 40px);
}

#when {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#date {
  #date_svg {
    width: 50vw;
    height: fit-content;
  }
}

#countdown {
  display: flex;
  flex-direction: row;
  width: 70vw;
  height: 300px;
  align-items: center;
  justify-content: center;
  /* background-color: blue; */
}

.cd-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: aqua; */
  padding: 2%;
  margin: 1%;
  min-width: 25%;
  height: fit-content;
}

.cd-value {
  font-family: "Saira Numerals";
  font-size: 7em;
}

.cd-label {
  font-size: 2em;
}

#ending {}

#athul_saira_monogram_svg {
  width: 20vw;
}

#when {}

.page-column {
  display: flex;
  flex-direction: row;
}

.map {
  border: 5px dashed var(--color-light-3);
}

#rsvp {
  /* align-items: flex-start; */
}